<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Graph Demo</title>
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="stylesheet" type="text/css" href="css/feedback.css" />
        <script defer src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script defer src="js/dust-full-1.1.1.js"></script>
        <script defer src="js/feedback.js"></script>
        <script defer src="js/index.js"></script>
        <script defer src="js/stolen-heap.js"></script>
        <script defer src="js/graph.js"></script>
        <script defer src="js/sigma.min.js"></script>
    </head>
    <body>
        <header>
            <h1>Graph Demo</h1>
        </header>

        <section id="graphs">
        </section>

        <footer>
            See
            {~s}
            <a href="https://github.com/zarac/graph-demo"
                target="_blank">github.com/zarac/graph-demo</a>
            {~s}
            for more.
        </footer>
    </body>
</html>
